        <script>
            (function(d) {
                var scripts = ['js/main.js']; // Script(s) for all users
                var newBrowser = (
                    'fetch' in window &&
                    'Promise' in window &&
                    'assign' in Object &&
                    'keys' in Object
                );

                if (!newBrowser) {
                    scripts.unshift('js/es2015.polyfills.js'); // Script for older browsers
                }

                scripts.forEach(function(src) {
                    var scriptEl = d.createElement('script');
                    scriptEl.src = src;
                    scriptEl.async = false;
                    d.head.appendChild(scriptEl);
                });

                // Replace `no-js` class on `<html>` with `js`
                d.documentElement.className = d.documentElement.className.replace(/\bno-js\b/g, 'js');
            })(document);
        </script>
    </body>
</html>