{
    "presets": [
        [
            "env",
            {
                "debug": false,
                "modules": false,
                "useBuiltIns": true,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "Firefox ESR"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "external-helpers"
    ]
}
