/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
	margin:  0;
	padding: 0;
}


// Give a help cursor to elements that give extra info on `:hover`.

abbr[title],
dfn[title] {
	cursor: help;
}


// Remove underlines from potentially troublesome elements.

u,
ins {
	text-decoration: none;
}


// Apply faux underlines to inserted text via `border-bottom`.

ins {
	border-bottom: 1px solid;
}


// Remove indenting and bullet styles form lists.

ul,
ol,
dl {
	list-style: none;
	margin:  0;
	padding: 0;
}


// Remove underline from links by default.

a {
	color: inherit;
	text-decoration: none;
}


/**
 * Display links when the `<a>` element has no text value
 * but the href attribute is defined.
 */

a[href^="http"]:empty:before {
	content: attr(href);
}

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	text-align: left;
}
