/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

// Use '!important' deliberately here – we always want trump classes to take.

/* Font weights
   ========================================================================== */

.u-font-heavy {
    font-weight: bold !important;
}

.u-font-light {
    font-weight: normal !important;
}


/* Adjustments
   ========================================================================== */

/**
 * ‘Can you just make that text a little bigger?’
 *
 * Example usage:
 * <p class="u-text++">A little bit bigger.</p>
 *
 */

.u-text\+\+ {
    font-size: larger  !important;
}

.u-text-- {
    font-size: smaller !important;
}


/* Headings
   ========================================================================== */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-h1"></h2>
 *
 */

.u-h1 {
    @include font-size($font-size-1, inherit, "important");
}

.u-h2 {
    @include font-size($font-size-2, inherit, "important");
}

.u-h3 {
    @include font-size($font-size-3, inherit, "important");
}

.u-h4 {
    @include font-size($font-size-4, inherit, "important");
}

.u-h5 {
    @include font-size($font-size-5, inherit, "important");
}

.u-h6 {
    @include font-size($font-size-6, inherit, "important");
}
