/* ==========================================================================
   #DISPLAY
   ========================================================================== */

// Use '!important' deliberately here – we always want trump classes to take.

/**
 * General helper classes for controlling display.
 *
 * These are the basic classes you might need to apply to typical HTML content.
 * If you find yourself needing something like `table`, `table-cell`, `flex`,
 * etc., then you probably need a more complex object and shouldn't be using
 * utility classes in the first place.
 */

.u-display-block {
    display: block !important;
}

.u-display-inline {
    display: inline !important;
}

.u-display-ib {
    display: inline-block !important;
}


/* `Small` breakpoint variants
   ========================================================================== */

.u-display-block-\@sml {
    @include phablet {
        display: block !important;
    }
}

.u-display-inline-\@sml {
    @include phablet {
        display: inline !important;
    }
}

.u-display-ib-\@sml {
    @include phablet {
        display: inline-block !important;
    }
}


/* `Medium` breakpoint variants
   ========================================================================== */

.u-display-block-\@med {
    @include tablet {
        display: block !important;
    }
}

.u-display-inline-\@med {
    @include tablet {
        display: inline !important;
    }
}

.u-display-ib-\@med {
    @include tablet {
        display: inline-block !important;
    }
}


/* `Large` breakpoint variants
   ========================================================================== */

.u-display-block-\@lrg {
    @include desktop {
        display: block !important;
    }
}

.u-display-inline-\@lrg {
    @include desktop {
        display: inline !important;
    }
}

.u-display-ib-\@lrg {
    @include desktop {
        display: inline-block !important;
    }
}
