/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in pxs, the `line-height` is calculated to exist unitlessly.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */

html {
    font-size: $global-font-size; /* [1] */
    line-height: $global-line-height; /* [1] */
    min-height: 100%; /* [2] */
    overflow-y: scroll; /* [3] */
}

body {
	background-color: $colour-one;
	color: $global-text-colour;
	font-family: $font-fallback;
	letter-spacing: 0.025em;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include font-size($global-font-size);

	.fonts-loaded & {
		font-family: $font-primary;
	}
}
