---
layout: layouts/base.njk
title: Simple Static Site Starter
description: Lorem ipsum dolor sit amet
site_url: http://example.com
canonical_url: http://example.com
social_share_image: /assets/images/social-share-image.jpg
social_share_image_alt: Screenshot of example.com
---

<h1>Hello World!</h1>