<header>
    <a href="#content" class="c-skip-link">
        Skip to content
    </a>

    {% if app.navigation %}
        <nav class="c-nav">
            {% for item in app.navigation %}
                <a
                    href="{{ item.href }}"
                    class="c-nav__item {% if page.url == item.href %}is-active{% endif %}"
                >
                    {{ item.label }}
                </a>
            {% endfor %}
        </nav>
    {% endif  %}
</header>
